In [1]:
# Data Types, Operators, and Variables

### 1 Create a Python script file named data_types_and_variables.py or data_types_and_variables.ipynb.

In [3]:
#Identify the data type of the following values:

In [4]:
type(99.9)

float

In [5]:
type("False")

str

In [6]:
type(False)

bool

In [4]:
type('0')

str

In [5]:
type(0)

int

In [6]:
type(True)

bool

In [7]:
type('True')

str

In [8]:
type([{}])

list

In [9]:
type({'a': []})

dict

### 2  What data type would best represent the following?

In [16]:
# A term or phrase typed into a search box
# ANSWER: string

In [11]:
# Whether or not a user is logged in
# a boolean data type is used to represent the state of whether a user is logged in or not

In [12]:
# A discount amount to apply to a user's shopping cart
# a numeric data type, such as a floating-point number or a decimal, is used to represent discount amounts.

In [13]:
#Whether or not a coupon code is valid
# a boolean data type is used to check whether or not a coupon code is valid

In [14]:
#An email address typed into a registration form
#string

In [15]:
#The price of a product
# a numeric data type, such as a floating-point number or a decimal, is used to represent discount amounts.

In [16]:
#The email addresses collected from a registration form
#List of Strings,CSV or JSON File,database

In [17]:
#Information about applicants to Codeup's data science program
#List of Strings,CSV or JSON File,database

### 3 For each of the following code blocks:

Read the expression and predict the evaluated results

Execute the expression in a Python REPL.

In [26]:
'1' + 2

#this can't work because it's a string plus integer

TypeError: can only concatenate str (not "int") to str

In [24]:
6 % 4
#remainder is 2

2

In [25]:
type(6 % 4)
#type of the dividend divisor  an integer

int

In [27]:
type(type(6 % 4))
# the outer type() function retrieves the type of the result from the inner type() function,
# which is the type of the integer object representing the result of the modulo operation (6 % 4).

type

In [29]:
'3 + 4 is ' + 3 + 4
#Can't concatenate strings and integers

TypeError: can only concatenate str (not "int") to str

In [30]:
0 < 0

False

In [31]:
'False' == False
# the == operator is used for equality comparison.
#Python checks if the values are equal, taking into account their types.
# 'False' is a string
#False is a boolean value 
#Since a string and a boolean value have different types and values
#Hence,  'False' == False evaluates to False

False

In [33]:
True == 'True'
# the == operator is used for equality comparison.
#Python checks if the values are equal, taking into account their types.
# 'True' is a string
#True is a boolean value 
#Since a string and a boolean value have different types and values
#Hence,  'True' == True evaluates to False

False

In [35]:
5 >= -5
# 5 is greater than 5 . so answer is true.

True

In [37]:
True or "42"

# a logical OR operation between two operands
#It returns True if at least one of the operands is True, and False if both operands are False.
#the first operand is the boolean value True
#The second operand is the string "42" a true value because it is a non-empty string.
#Since the or operator only needs one of the operands to be True to evaluate to True,
#the expression True or "42" will result in True.

True

In [39]:
6 % 5
#remainder

1

In [41]:
5 < 4 and 1 == 1
# a logical AND operation between two operands
#It returns FALSE if at least one of the operands is FALSE, and TRUE if both operands are TRUE.
#the first operand is  FALSE
#The second operand is TRUE - as it's an equality comparison OF 1 to itself .
#Since the AND operator  needs both of the operands to be True to evaluate to True,
#the expression is FALSE.

False

In [43]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'
# a logical AND operation between two operands
#It returns FALSE if at least one of the operands is FALSE, and TRUE if both operands are TRUE.
#the first operand is  TRUE
#The second operand is FALSE - as 'codeup' == 'Codeup' DOESN'T MATCH
#Since the or operator  needs both of the operands to be True to evaluate to True,
#the expression is FALSE.

False

In [46]:
4 >= 0 and 1 !== '1'
#  1 !== '1' contains a syntax error. The correct operator to use for
#  "not equal" in Python is != rather than !==.

SyntaxError: invalid syntax (282945223.py, line 1)

In [48]:
6 % 3 == 0
#Remainder is zero hence true

True

In [50]:
5 % 2 != 0
#Remainder is not zero hence true

True

In [52]:
[1] + 2
#list and integer can't be concatenated

TypeError: can only concatenate list (not "int") to list

In [54]:
[1] + [2]
# concatenating the elements in the 2 lists together

[1, 2]

In [56]:
[1] * 2
# The expression [1] * 2 creates a list containing two copies of the element 1. 
#The resulting list will be [1, 1].

#In Python, the * operator applied to a list and an integer value performs list replication.
#It creates a new list by repeating the elements of the original list a specified number of times.

#In this case, the original list is [1], and the * 2 specifies that the elements of the list should 
#be repeated twice. Therefore, the resulting list [1, 1] is created, consisting of two copies of the element 1.

[1, 1]

In [59]:
[1] * [2]
#  In Python, the * operator when used with lists performs list replication, but it requires the right operand to be an 
# an integer representing the number of times the list should be repeated.

# In this case, the left operand is a list [1], but the right operand is another list [2].
# Since the right operand is not an integer, it does not fulfill the requirements for list replication. 
# Hence, it raises a TypeError.

TypeError: can't multiply sequence by non-int of type 'list'

In [63]:
[] + [] == []
# In Python, the + operator, when used with lists, performs list concatenation.
# When you concatenate two empty lists [] using the + operator, 
# the resulting list is also an empty list [].

#The expression [] + [] evaluates to [], and when compared with == to [], it yields True. 
#This means that the concatenation of two empty lists results in an empty list, which is equal to an empty list.

True

In [65]:
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

### 4 Describe the following scenarios. You will need to create and assign variables and use operators.

In [68]:

item1_price = 10
item2_price = 15
item3_price = 20

total_cost = item1_price + item2_price + item3_price
print (total_cost)

45

### 5  You have rented some movies for your kids:

The Little Mermaid for 3 days
Brother Bear for 5 days
Hercules for 1 day
If the daily fee to rent a movie is 3 dollars, how much will you have to pay?

In [72]:

The_Little_Mermaid = 3
Brother_Bear = 5
Hercules = 1
rent_a_movie_fee =3
total_you_pay = (The_Little_Mermaid + Brother_Bear + Hercules) * rent_a_movie_fee
print (total_you_pay)

27

### 6 Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

They pay you the following hourly rates:

Google: 400 dollars
Amazon: 380 dollars
Facebook: 350 dollars
This week you worked: 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

How much will you receive in payment for this week?

In [8]:


Google = 400
Amazon = 380
Facebook = 350
hours_worked_weekly_facebook = 10
hours_worked_weekly_Google = 6
hours_worked_weekly_Amazon = 4 
total_weekly_pay = ((Google * hours_worked_weekly_Google) + (Amazon * hours_worked_weekly_Amazon) + (Facebook * hours_worked_weekly_facebook))
print(total_weekly_pay)

7420

### 7   A student can be enrolled to a class
 only if the class is not full and the class schedule does not conflict with her current schedule.

 when every condition is in student's favor

In [11]:
#  when every condition is in student's favor

class_capacity = 30
current_enrollment = 25
class_schedule_conflict = False
student_current_schedule_conflict = False

can_enroll = (current_enrollment < class_capacity) and (not class_schedule_conflict) and (not student_current_schedule_conflict)

if can_enroll:
    print("Student can be enrolled in the class.")
else:
    print("Student cannot be enrolled in the class.")
    
    
class_capacity = 35 
current_enrollment = 35   # when class is full
class_schedule_conflict = False
student_current_schedule_conflict = False

can_enroll = (current_enrollment < class_capacity) and (not class_schedule_conflict) and (not student_current_schedule_conflict)

if can_enroll:
    print("Student can be enrolled in the class.")
else:
    print("Student cannot be enrolled in the class.")
    
    
    
class_capacity = 35
current_enrollment = 34
class_schedule_conflict = True   # when there is class schedule conflict 
student_current_schedule_conflict = False

can_enroll = (current_enrollment < class_capacity) and (not class_schedule_conflict) and (not student_current_schedule_conflict)

if can_enroll:
    print("Student can be enrolled in the class.")
else:
    print("Student cannot be enrolled in the class.")
    
    

class_capacity = 35
current_enrollment = 34
class_schedule_conflict = False
student_current_schedule_conflict = True # when there is student schedule conflict 

can_enroll = (current_enrollment < class_capacity) and (not class_schedule_conflict) and (not student_current_schedule_conflict)

if can_enroll:
    print("Student can be enrolled in the class.")
else:
    print("Student cannot be enrolled in the class.")
    
    
    
    class_capacity = 25
current_enrollment = 20
class_schedule_conflict = True # when there is class schedule conflict
student_current_schedule_conflict = True # when there is student schedule conflict

can_enroll = (current_enrollment < class_capacity) and (not class_schedule_conflict) and (not student_current_schedule_conflict)

if can_enroll:
    print("Student can be enrolled in the class.")
else:
    print("Student cannot be enrolled in the class.")

Student can be enrolled in the class.
Student cannot be enrolled in the class.
Student cannot be enrolled in the class.
Student cannot be enrolled in the class.
Student cannot be enrolled in the class.

### 8 A product offer can be applied only if people buys more than 2 items, and the offer has not expired. 
 Premium members do not need to buy a specific amount of products.

 when every condition is in favor to apply for the product offer

In [12]:

items_purchased = 3
offer_expired = False
is_premium_member = True

can_apply_offer = ((items_purchased > 2) and (not offer_expired)) or is_premium_member

if can_apply_offer:
    print("Product offer can be applied.")
else:
    print("Product offer cannot be applied.")
    
    
items_purchased = 2     # condition not in favor
offer_expired = False   # condition in favor
is_premium_member = False  # condition not in favor

can_apply_offer = ((items_purchased > 2) and (not offer_expired)) or is_premium_member

if can_apply_offer:
    print("Product offer can be applied.")
else:
    print("Product offer cannot be applied.")

Product offer can be applied.
Product offer cannot be applied.

### 9 Continue working in the data_types_and_variables.py file. Use the following code to follow the instructions below:


username = 'codeup'
password = 'notastrongpassword'
Create a variable that holds a boolean value for each of the following conditions:

The password must be at least 5 characters
The username must be no more than 20 characters
The password must not be the same as the username
Bonus Neither the username or password can start or end with whitespace

In [15]:

username = 'codeup'
password = 'notastrongpassword'

# Condition: The password must be at least 5 characters
is_valid_password_length = len(password) >= 5

# Condition: The username must be no more than 20 characters
is_valid_username_length = len(username) <= 20

# Condition: The password must not be the same as the username
is_different_password_username = password != username

# Bonus:- Condition: Neither the username nor password can start or end with whitespace
is_valid_username_whitespace = not (username.startswith(' ') or username.endswith(' '))
is_valid_password_whitespace = not (password.startswith(' ') or password.endswith(' '))

# Printing the boolean variables
print("Is valid password length?", is_valid_password_length)
print("Is valid username length?", is_valid_username_length)
print("Is different password and username?", is_different_password_username)
print("Is valid username (no whitespace)?", is_valid_username_whitespace)
print("Is valid password (no whitespace)?", is_valid_password_whitespace)

Is valid password length? True
Is valid username length? True
Is different password and username? True
Is valid username (no whitespace)? True
Is valid password (no whitespace)? True